  <div class="single-user clearfix" >
    <h3><%= @user.occupation %></h3>
    <h4>From: <%= @user.city %></h4>
    <h4>Email: <%= @user.email %></h4>
    <div>
      <h4>Bio: </h4>
      <p class="user-entry" style="margin-top: -20px"><%= @user.entry %></p>
    </div>
    <button><a href="/users/">Back</a></button>
  </div>
