  <div class="single-user clearfix" >
    <h3><%= @user.occupation %></h3>
    <h4><%= @user.city %></h4>
    <h4><%= @user.email %></h4>
    <p>Bio: <%= @user.entry %></p>

    <button><a href="/users/">Back</a></button>
  </div>
